/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
     font-family: 'Poppins', sans-serif;
}

#chat-input-form>div>input,
#search-bar-input {
     font-family: 'Poppins', sans-serif !important;
}

/* ADBLOCK */
body>div.w2g-main-container.w2g-bind-layout>div.w2g-main-lower>div.w2g-player-search>div.w2g-scroll-vertical>div>div.w2g-center-plus.w2g-until-mobile>a {
     display: none;
     /* remove text only visible when using adblock */
}

#yt_a_message {
     display: none !important;
     /* remove banner only visible when using adblock */
}

#w2g-center-doit {
     display: none !important;
     /* remove static advertisement area */
}

/* MISC */
body ::-webkit-scrollbar {
     width: 0px !important;
     /* hide scrollbar */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-topbar-wrapper.w2g-bind-apps>div.w2g-topbar {
     background: transparent;
     /* make menu bar transparent */
}

body>div.w2g-feedback-container.w2g-until-mobile {
     display: none;
     /* hide feedback button */
}

/* TOP MENU BAR (right half) */
#w2g-mod-dropdown {
     display: none !important;
     /* remove room name */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-topbar-wrapper.w2g-bind-apps>div.w2g-topbar>div.w2g-topbar-content>div.w2g-topbar-menu>div {
     display: none;
     /* remove new invite friends button */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-topbar-wrapper.w2g-bind-apps>div.w2g-topbar>div.w2g-topbar-content>div.w2g-topbar-menu>a {
     display: none;
     /* remove question mark */
}

/* TOP MENU BAR (left half) */
body>div.w2g-main-container.w2g-bind-layout>div.w2g-topbar-wrapper.w2g-bind-apps>div.w2g-topbar>div.w2g-topbar-menu.w2g-topbar-left.w2g-search-hide {
     display: none;
     /* remove W2G logo */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-topbar-wrapper.w2g-bind-apps>div.w2g-topbar>div.w2g-topbar-menu.w2g-topbar-left.w2g-search-hide {
     pointer-events: none;
     /* disable link in logo */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-topbar-wrapper.w2g-bind-apps>div.w2g-topbar>div.w2g-topbar-menu.w2g-topbar-left.w2g-search-hide>div>i {
     display: none;
     /* remove arrow next to logo */
}

/* SEARCH RESULTS */
#w2g-editorial>div:nth-child(1) {
     display: none;
     /* remove W2G-shorts heading */
}

#w2g-editorial>div:nth-child(2) {
     display: none;
     /* remove W2G-shorts video suggestions */
}

#w2g-search-results>div.w2g-search-nomore.darker-item {
     display: none;
     /* remove search results tooltip */
}

#w2g-editorial>div:nth-child(3) {
     display: none;
     /* remove W2G guide heading */
}

#w2g-editorial>div.w2g-step-by-step {
     display: none;
     /* remove W2G guide */
}

#w2g-search-results>div.w2g-items-grid>div>div.w2g-item-content>div.w2g-item-actions>div:nth-child(1) {
     display: none;
     /* remove recommend button */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-main-lower>div.w2g-player-search>div.w2g-scroll-vertical>div>div.w2g-search-spacer.w2g-until-mobile {
     display: none;
     /* remove blank space */
}

.w2g-item {
     border-radius: 10px !important;
     /* round corners */
}

/* PARTICIPANTS */
#userbar>div.w2g-webrtc.w2g-userctrl {
     display: none;
     /* (expanded) remove cam/mic button */
}

#userbar>div.w2g-panel-menu>div.w2g-panel-icon-medium.w2g-webrtc>i.record.icon {
     display: none;
     /* (collapsed) remove cam button */
}

#userbar>div.w2g-panel-menu>div.w2g-panel-icon-medium.w2g-webrtc>i.unmute.icon {
     display: none;
     /* (collapsed) remove mic button */
}

#userbar>div.w2g-panel-menu>div.w2g-panel-notifications {
     /* (collapsed) button counter restyle */
     right: 18.5px;
     top: 1.5px;
     background-color: transparent;
     font-weight: lighter;
}

#userbar>div.w2g-panel-menu {
     /* restyle participant bar show button */
     width: 50px;
     height: 35px;
     border-top-right-radius: 30px;
     border-top-left-radius: 30px;
     box-shadow: 0px 0px 10px 1px black;
     background-color: #373737;
     color: #fff;
}

#userbar>div.w2g-panel-menu>div.w2g-panel-notifications,
#userbar>div.w2g-panel-menu>div.w2g-panel-icon-medium.w2g-webrtc>i.desktop.icon {
     display: none;
     /* restyle participant bar show button (hide other icons) */
}

#userbar>div.w2g-hide-userbar {
     /* reposition and recolor participant bar hide button */
     padding: 10px;
     color: white;
}

#userbar {
     background-color: #373737 !important;
     /* recolor participant bar */
}

/* CHAT */
body>div.w2g-main-container.w2g-bind-layout>div.w2g-main-lower>div.w2g-main-right>div.w2g-content-right>div.w2g-menu-tab.w2g-chat.w2g-messages.w2g-active>div.w2g-chat-input {
     display: none;
     /* remove chat entirely */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-main-lower>div.w2g-main-right>div.w2g-content-right>div.w2g-menu-tab.w2g-chat.w2g-messages.w2g-active>div.w2g-chat-menu {
     display: none;
     /* remove chat popout button */
}

/* PLAYLIST */
body>div.w2g-main-container.w2g-bind-layout>div.w2g-main-lower>div.w2g-main-right>div.w2g-content-right>div.w2g-menu-tab.w2g-playlists.w2g-active>div.playlist-menu.mod-pl {
     display: none;
     /* remove custom playlist selector */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-main-lower>div.w2g-main-right>div.w2g-content-right>div.w2g-menu-tab.w2g-playlists.w2g-active>div.w2g-playlists-settings.mod-pl>i.setting.icon {
     display: none;
     /* remove custom playlist creation */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-main-lower>div.w2g-main-right>div.w2g-content-right>div.w2g-menu-tab.w2g-playlists.w2g-active>div.w2g-playlists-settings.mod-pl>div>div:nth-child(3) {
     display: none;
     /* remove playlist vote option */
}

/* VIDEO CONTAINER */
body>div.w2g-main-container.w2g-bind-layout>div.w2g-main-lower>div.w2g-player-search {
     max-width: none !important;
     /* remove max size */
}

#upl_rNEUv_w2gshorts {
     display: none !important;
     /* hopefully disable W2G-shorts autoplay... */
}

body>div.w2g-main-container.w2g-bind-layout>div.w2g-main-lower>div.w2g-player-search>div.w2g-scroll-vertical>div>div.w2g-player-container {
     border-radius: 10px;
}
