/* colors */
body > div.w2g-main-container {
    background-color: #16181C;
}
.darker-item, .w2g-search-item {
    background-color: #26292F;
}
.text-gray-600 {
    color: #999999 !important;
}

/* navbar */

    /* remove navbar gradient */
    body > div.w2g-main-container > div.w2g-topbar-wrapper > div.w2g-topbar {
        background-image: none !important;
        background-color: #26292F !important;
    }

    /* margin parity */
    body > div.w2g-main-container > div.w2g-main-lower > div.w2g-player-search {
        margin: 0 !important;
    }

    /* platform topbar */

        /* restyle container */
        body > div.w2g-main-container > div.w2g-topbar-wrapper > div.flex-wrap.justify-center.overflow-auto.relative {
            background-color: #26292F !important;
            border-radius: 0 0 15px 15px !important;
        }

        /* recolor divider */
        div.flex.items-baseline > .bg-w2g-light {
            background-color: #424956;
        }

        /* restyle active button */
        body > div.w2g-main-container > div.w2g-topbar-wrapper > div.flex-wrap.justify-center.overflow-auto.relative > div > div.flex.flex-wrap.max-w-full > div.border.cursor-pointer.hover\:bg-w2g-light.p-1.rounded-md.w-20.bg-w2g-light.border-gray-500 {
            background-color: #424956 !important;
            border: 0 !important;
            border-radius: 15px !important;
        }

        /* remove hover */
        body > div.w2g-main-container > div.w2g-topbar-wrapper > div.flex-wrap.justify-center.overflow-auto.relative > div > div.flex.flex-wrap.max-w-full > div.border.border-transparent.cursor-pointer.hover\:bg-w2g-light.p-1.rounded-md.w-20.bg-none:hover {
            background-color: transparent !important;
        }

        /* hide platform explanation */
        body > div.w2g-main-container > div.w2g-topbar-wrapper > div.flex.items-center.justify-center.overflow-hidden {
            display: none !important;
        }

    /* left */

        /* replace logo */
        body > div.w2g-main-container > div.w2g-topbar-wrapper > div.w2g-topbar > div.w2g-topbar-left.w2g-topbar-menu > a {
            background-image: url('https://w2g.tv/assets/w2g-logo.c8bd6d38.svg') !important;
        }

    /* center */

        /* restyle platform selector */
        #search-bar-form > div > div:nth-of-type(1) {
            border-radius: 15px 0 0 15px !important;
            background-color: #424956 !important;
            border: 0 !important;
        }
        .w2g-button:hover, .w2g-button:active {
            background: #424956 !important;
        }

        /* restyle search bar */
        #search-bar-input {
            height: 40px !important;
            border-radius: 0 15px 15px 0 !important;
            border: 0 !important;
            background-color: #424956 !important;
            color: #999999 !important;
        }
        #search-bar-input::placeholder {
            color: #999999 !important;
        }

        /* hide search button */
        #search-bar-form button {
            display: none !important;
        }

    /* right */

        /* hide room info */
        #w2g-mod-dropdown {
            display: none !important;
        }

        #w2g-top-inviteurl {
            flex: none !important;
            display: block !important;
        }

        /* hide invite link */
        #w2g-top-inviteurl > input {
            display: none !important;
        }

        /* restyle copy link button */
        #w2g-top-inviteurl > div.primary.rounded-none.w2g-button {
            background-color: #424956 !important;
            border: 0;
            border-radius: 15px;
            height: 40px;
            width: 40px;
            color: #999999;
        }

        /* hide invite button */
        #w2g-top-inviteurl > div.primary.rounded-l-none.w2g-button {
            display: none !important;
        }

        /* remove unnecessary padding  */
        body > div.w2g-main-container > div.w2g-topbar-wrapper > div.w2g-topbar > div.w2g-topbar-content {
            padding: 0;
        }

        /* hide w2g+ advert */
        body > div.w2g-main-container > div.w2g-topbar-wrapper > div.w2g-topbar > div.w2g-topbar-content > div > div > a.\[body\.user-plus_\&\]\:hidden.\[body\.user-pro_\&\]\:hidden.whitespace-nowrap {
            display: none !important;
        }

        /* restyle settigns button */
        body > div.w2g-main-container > div.w2g-topbar-wrapper > div.w2g-topbar > div.w2g-topbar-content > div > div > span {
            background-color: #424956 !important;
            border-radius: 15px;
            padding: 10px 11.5px 10px 11px;
            color: #999999;
            margin-left: 5px;
        }

        /* hide leave room button */
        body > div.w2g-main-container > div.w2g-topbar-wrapper > div.w2g-topbar > div.w2g-topbar-content > div > div > a.w2g-icon-button {
            display: none !important;
        }

/* add spacing below navbar */
body > div.w2g-main-container > div.w2g-main-lower {
    margin-top: 2vh;
}

/* main content */

    /* restyle video */
    body > div.w2g-main-container > div.w2g-main-lower > div.w2g-player-search > div.w2g-scroll-vertical > div > div.w2g-player.w2g-player-container > div {
        border-radius: 15px;
        border: 5px solid #26292F;
        background-color: #26292F;
    }

    /* remove color of search container */
    body > div.w2g-main-container > div.w2g-main-lower > div.w2g-player-search > div.w2g-scroll-vertical > div {
        background-color: transparent !important;
    }

    /* hide w2g+ advert */
    body > div.w2g-main-container > div.w2g-main-lower > div.w2g-player-search > div.w2g-scroll-vertical > div > div.w2g-doit {
        display: none !important;
    }

    /* hide w2g shorts */
    #w2g-editorial > div:nth-child(1),
    #w2g-editorial > div:nth-child(2) {
        display: none !important;
    }

    /* hide w2g step-by-step */
    #w2g-editorial > div:nth-child(3),
    #w2g-editorial > div:nth-child(4) {
        display: none !important;
    }

    /* popular videos & search results */

        /* fancy border */
        #w2g-search-results > div.w2g-search-list > div,
        .w2g-search-results .w2g-item {
            border: 5px solid #26292F;
            border-radius: 15px;
        }

        /* remove stupid border */
        .w2g-search-image {
            border-right: 0;
        }

        /* round thumbnail */
        #w2g-search-results > div.w2g-search-list > div > div.mod-player.w2g-search-image > img,
        #w2g-editorial > div > div > div.mod-player.w2g-item-image > img {
            border-radius: 15px;
        }

        /* restyle small buttons */
        .w2g-item-actions > div:nth-child(1) {
            background-color: #424956;
            border-radius: 15px 0 0 15px;
        }
        .w2g-item-actions > div:nth-child(2) {
            background-color: #424956;
            border-radius: 0 15px 15px 0;
        }

        /* no items found */
        #w2g-search-results > div.p-4.rounded-md.text-center {
            background-color: #26292F;
            border: 5px solid #26292F;
            border-radius: 15px;
        }

        /* hide try link insread */
        #w2g-search-results > div.darker-item.flex.items-center.rounded-md {
            display: none !important;
        }

    /* hide w2g about section */
    body > div.w2g-main-container > div.w2g-main-lower > div.w2g-player-search > div.w2g-scroll-vertical > div > div.text-sm.w2g-search-spacer {
        display: none !important;
    }

    /* bottom bar */

        /* restyle button */
        #userbar > div.w2g-panel-menu {
            background-color: #26292F;
            border-radius: 15px 15px 0 0;
            color: #999999;
            padding-bottom: 5px;
        }

        /* restyle container */
        #userbar {
            background-color: rgba(38, 41, 47, 0.6) !important;
            backdrop-filter: blur(20px);
            border-radius: 15px 15px 0 0;
            padding: 5px;
            box-shadow: 0 0 0 5px #26292F;
        }

        /* remove margin on user container */
        #userbar > div.w2g-userbar-wrapper,
        #userbar > div.w2g-userbar-wrapper > div {
            margin: 0 !important;
            padding: 0 !important;
        }

        /* user card */
        #userbar div.w2g-user {
            background-color: #424956;
            border-radius: 15px;
            padding: 5px;
            margin-right: 5px;
        }
        #userbar div.w2g-user > div.w2g-user-name {
            color: #999999 !important;
        }
        #userbar div.w2g-user .w2g-user-avatar img {
            border-radius: 15px;
        }
        #userbar div.w2g-user > div.w2g-user-menu {
            display: none;
        }

            /* user card online */
            #userbar div.w2g-user.available {
                background-color: #1f5952;
            }
            #userbar div.w2g-user.available > div.w2g-user-name {
                background-color: transparent;
            }

/* sidebar */

    /* restyle container */
    body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right {
        background-color: #26292F;
        border-radius: 15px 15px 0 0;
        margin: 0 0 0 2vh;
    }

    /* chat button */
    body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-chat.w2g-menu-tab.w2g-messages.w2g-panel-bottom.w2g-panel-hidden > div.w2g-panel-menu {
        background-color: #424956;
        border-radius: 15px 15px 0 0;
        color: #999999;
        box-shadow: none;
        padding-bottom: 1vh;
    }

    /* chat */

        /* slideout */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-chat.w2g-menu-tab.w2g-messages.w2g-panel-bottom {
            background-color: rgba(38, 41, 47, 0.6);
            backdrop-filter: blur(20px);
            border: 5px solid #16181C;
            border-bottom: 0 !important;
            border-radius: 15px 15px 0 0;
            box-shadow: none;
        }

        /* regular chat bubble */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-chat.w2g-menu-tab.w2g-messages > div.w2g-chat-messages.w2g-messages-container > div > div.w2g-chat-bubble > div {
            color: #999999 !important;
            background-color: #424956 !important;
            border-radius: 15px 15px 0 15px;
        }

        /* video embed */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-chat.w2g-menu-tab.w2g-messages > div.w2g-chat-messages.w2g-messages-container > div > div.w2g-chat-bubble > div > div > div:nth-child(3) > div > div {
            background-color: transparent !important;
            border: 0 !important;
        }

        /* restyle text input field */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-chat.w2g-menu-tab.w2g-messages > div.w2g-chat-input > div > textarea {
            background-color: #424956;
            border: 0;
            border-radius: 15px 0 0 15px;
            color: #999999;
        }

        /* emoji button */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-chat.w2g-menu-tab.w2g-messages > div.w2g-chat-input > div > div.px-2.w2g-button {
            background-color: #424956;
            border: 0;
            border-radius: 0 15px 15px 0;
            color: #999999;
            margin-right: 5px;
        }

        /* emoji picker */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-chat.w2g-menu-tab.w2g-messages > div.w2g-chat-input > div > div.emoji-picker-container.w2g-emojis > div {
            background-color: rgba(38, 41, 47, 0.6) !important;
            backdrop-filter: blur(20px);
            border: 5px solid #424956;
            border-radius: 15px;
            margin-bottom: 5px;
        }

        /* send button */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-chat.w2g-menu-tab.w2g-messages > div.w2g-chat-input > div > div.px-3.w2g-button {
            background-color: #424956;
            border: 0;
            width: 32px;
            border-radius: 15px;
            color: #999999;
        }

    /* playlist */

        /* restyle selector */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-menu-tab.w2g-playlists > div.playlist-menu > select {
            background-color: #424956;
            border: 0;
            border-radius: 15px;
            height: 40px;
            color: #999999;
        }

        /* restyle list item */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-menu-tab.w2g-playlists > div.w2g-items.w2g-list-items > div {
            background-color: #424956;
            border-radius: 15px;
            color: #999999;
            border: 0;
            margin-bottom: 5px;
            height: 40px;
        }
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-menu-tab.w2g-playlists > div.w2g-items.w2g-list-items > div > div.w2g-list-item-image > img {
            border-radius: 15px;
            padding: 5px;
        }

        /* playlist settings */
        #playlist-modal {
            background-color: #26292F;
            border: 5px solid #16181C;
            border-radius: 15px;
            color: #999999;
        }

    /* history */

        /* restyle list item */
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-history.w2g-menu-tab > div > div {
            background-color: #424956;
            border-radius: 15px;
            color: #999999;
            border: 0;
            margin-bottom: 5px;
            height: 40px;
        }
        body > div.w2g-main-container > div.w2g-main-lower > div.w2g-main-right > div.w2g-content-right > div.w2g-history.w2g-menu-tab > div > div > div.w2g-list-item-image > img {
            border-radius: 15px;
            padding: 5px;
        }

/* settings */

    /* restyle dimmer */
    #site-dimmer {
        background-color: rgba(22, 24, 28, 0.6) !important;
        backdrop-filter: blur(20px);
    }

    /* restyle container */
    #site-settings-modal {
        background-color: #26292F;
        border: 5px solid #16181C;
        border-radius: 15px;
        color: #999999;
    }
    
/* misc */

    /* hide scrollbars */
    body ::-webkit-scrollbar {
        display: none !important;
    }

    /* hide help/feedback button */
    body > div.w2g-feedback-container {
        display: none !important;
    }

    /* anti anti-adblock */
    #yt_a_message {
        display: none !important;
    }
